<a href="https://colab.research.google.com/github/JoaoSiqueiraDS/DS_Days/blob/master/Day_6_21_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Numpy arrays

In [ ]:
import numpy as np

x = np.zeros(4)
x

y = np.array([1,2,3,4])
y

#Slicing

X = np.array([[1,2,3], [4,5,6]])

X[1,:]

X[1,0:3]

array([4, 5, 6])

# Exploratory Data Analysis: A Practical Guide and Template for Structured Data

* Common data types: categorical, numerical and datatime
* Our main EDA objective for categorical data is to know the unique values and their corresponding count.
* For numeric data, our EDA approach is as follows:
1 - Plot univariate distribution of each numeric data;
2 - If categorical data are available, plot univariate distribution by each categorical value;
3 - Plot pairwise joint distribution of numeric data
* Time series:
Lastly, we also plotted time series charts to check for trends and seasonality.

In [ ]:
#Functions

# generate count statistics of duplicate entries
if len(df[df.duplicated()]) > 0:
    print("No. of duplicated entries: ", len(df[df.duplicated()]))
    print(df[df.duplicated(keep=False)].sort_values(by=list(df.columns)).head())
else:
    print("No duplicated entries found")

##############################################################

# generate count statistics of duplicate entries
if len(df[df.duplicated()]) > 0:
    print("No. of duplicated entries: ", len(df[df.duplicated()]))
    print(df[df.duplicated(keep=False)].sort_values(by=list(df.columns)).head())
else:
    print("No duplicated entries found")

##############################################################

# Droping duplicated values

df.drop_duplicates(inplace=True)

# EDA

In [2]:
#Import Pandas

import pandas as pd

# CSV File Path

file_path  = "https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/ocorrencias_aviacao.csv"

# Import csv archive into a dataframe variable

df = pd.read_csv(file_path,)


# See the first rows
df.head()

   codigo_ocorrencia  ... ocorrencia_dia_extracao
0    201305055424986  ...              2018-08-28
1    201605160250139  ...              2018-08-28
2    201805021421302  ...              2018-08-28
3    201311259977425  ...              2018-08-28
4    201103187273112  ...              2018-08-28

[5 rows x 22 columns]

In [4]:
# See df summary

df.info()

df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208 entries, 0 to 5207
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   codigo_ocorrencia               5208 non-null   int64
 1   ocorrencia_classificacao        5208 non-null   object
 2   ocorrencia_tipo                 5208 non-null   object
 3   ocorrencia_tipo_categoria       5208 non-null   object
 4   ocorrencia_tipo_icao            5208 non-null   object
 5   ocorrencia_latitude             5208 non-null   float64
 6   ocorrencia_longitude            5208 non-null   float64
 7   ocorrencia_cidade               5208 non-null   object
 8   ocorrencia_uf                   5208 non-null   object
 9   ocorrencia_pais                 5208 non-null   object
 10  ocorrencia_aerodromo            5208 non-null   object
 11  ocorrencia_dia                  5208 non-null   object
 12  ocorrencia_horario              5208 non-null   object
 13  investigacao_aeronave_liberada  1110 non-null   object
 14  investigacao_status             5208 non-null   object
 15  divulgacao_relatorio_numero     5208 non-null   object
 16  divulgacao_relatorio_publicado  5208 non-null   object
 17  divulgacao_dia_publicacao       1261 non-null   object
 18  total_recomendacoes             5208 non-null   int64
 19  total_aeronaves_envolvidas      5208 non-null   int64
 20  ocorrencia_saida_pista          5208 non-null   object
 21  ocorrencia_dia_extracao         5208 non-null   object
dtypes: float64(2), int64(3), object(17)
memory usage: 895.2+ KB

codigo_ocorrencia                   int64
ocorrencia_classificacao           object
ocorrencia_tipo                    object
ocorrencia_tipo_categoria          object
ocorrencia_tipo_icao               object
ocorrencia_latitude               float64
ocorrencia_longitude              float64
ocorrencia_cidade                  object
ocorrencia_uf                      object
ocorrencia_pais                    object
ocorrencia_aerodromo               object
ocorrencia_dia                     object
ocorrencia_horario                 object
investigacao_aeronave_liberada     object
investigacao_status                object
divulgacao_relatorio_numero        object
divulgacao_relatorio_publicado     object
divulgacao_dia_publicacao          object
total_recomendacoes                 int64
total_aeronaves_envolvidas          int64
ocorrencia_saida_pista             object
ocorrencia_dia_extracao            object
dtype: object

In [12]:
# Unique values of the variables

df["ocorrencia_tipo"].unique()

array(['FALHA DO MOTOR EM VOO',
       'COLISÃO COM OBSTÁCULO DURANTE A DECOLAGEM E POUSO', 'AERÓDROMO',
       'POUSO SEM TREM', 'OUTROS', 'PERDA DE CONTROLE NO SOLO',
       'POUSO LONGO', 'TRÁFEGO AÉREO', 'PERDA DE CONTROLE EM VOO',
       'COM TREM DE POUSO', 'INDETERMINADO', 'ESTOURO DE PNEU',
       'VOO CONTROLADO CONTRA O TERRENO', 'EXCURSÃO DE PISTA',
       'POUSO BRUSCO', 'CAUSADO POR FENÔMENO METEOROLÓGICO EM VOO',
       'INCURSÃO EM PISTA', 'VAZAMENTO DE OUTROS FLUIDOS', 'COM ROTOR',
       'FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPONENTE ',
       'PERDA DE COMPONENTE EM VOO', 'SOPRO DE REATOR',
       'COM PARA-BRISAS / JANELA / PORTA', 'COM LANÇAMENTO DE CARGA',
       'POUSO ANTES DA PISTA', 'F.O.D.', 'PROBLEMAS FISIOLÓGICOS',
       'DESCOMPRESSÃO NÃO INTENCIONAL / EXPLOSIVA',
       'COLISÃO DE VEÍCULO COM AERONAVE', 'FOGO NO SOLO', 'FOGO EM VOO',
       'CAUSADO POR FENÔMENO METEOROLÓGICO NO SOLO', 'COM PESSOAL EM VOO',
       'COLISÃO DE AERONAVES EM VOO', 'FUMAÇA NA CABINE',
       'COLISÃO COM OBSTÁCULOS NO SOLO', 'PERDA DE COMPONENTE NO SOLO',
       'SOPRO DE ROTOR', 'FALHA DO MOTOR NO SOLO', 'SUPERAQUECIMENTO',
       'COM COMANDOS DE VOO', 'FALHA ESTRUTURAL',
       'POUSO EM LOCAL NÃO PREVISTO', 'DESORIENTAÇÃO ESPACIAL',
       'VAZAMENTO DE COMBUSTÍVEL', 'PANE SECA',
       'COLISÃO COM AERONAVE NO SOLO', 'CORTE INVOLUNTÁRIO DO MOTOR',
       'TURBULÊNCIA', 'OPERAÇÃO A BAIXA ALTITUDE', 'COM HÉLICE',
       'COM LANÇAMENTO DE PESSOAS', 'COLISÃO EM VOO COM OBJETO REBOCADO',
       'AERONAVE ATINGIDA POR OBJETO',
       'FALHA OU MAU FUNCIONAMENTO DO MOTOR',
       'CONTATO ANORMAL COM A PISTA ', 'CORTANTE DE VENTO / TEMPESTADE',
       'OPERAÇÕES NO SOLO', 'CAUSADO POR RICOCHETE',
       'RELACIONADO COM SECURITY', 'PERDA DA CONSCIÊNCIA',
       'ALARME FALSO DE FOGO OU DE SUPERAQUECIMENTO', 'MANOBRA ABRUPTA'],
      dtype=object)

In [17]:
# Knowing the number of occurances of each type of ...

df['ocorrencia_tipo'].value_counts()

# The %

df['ocorrencia_tipo'].value_counts()/df.shape[0]

FALHA DO MOTOR EM VOO                                  0.130952
ESTOURO DE PNEU                                        0.115975
FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPONENTE     0.110215
PERDA DE CONTROLE NO SOLO                              0.094470
OUTROS                                                 0.067204
                                                         ...
CAUSADO POR RICOCHETE                                  0.000192
ALARME FALSO DE FOGO OU DE SUPERAQUECIMENTO            0.000192
RELACIONADO COM SECURITY                               0.000192
CORTANTE DE VENTO / TEMPESTADE                         0.000192
MANOBRA ABRUPTA                                        0.000192
Name: ocorrencia_tipo, Length: 63, dtype: float64

# Working with null values

In [18]:
# Import Pandas

import pandas as pd

# The file path

File_Path = "http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv"

# import the dataset

df = pd.read_csv(File_Path)

# See the first 5 rows

df.head()

  user_gender user_birthdate  ... ride_duration ride_late
0           M     1971-06-08  ...     16.250000       0.0
1           M     1989-02-11  ...      5.266667       0.0
2           M     1968-07-19  ...     15.400000       0.0
3           M     1991-12-19  ...      5.866667       0.0
4           M     1969-03-03  ...    641.133333       1.0

[5 rows x 10 columns]

In [20]:
# See the null values

df.isnull().sum()

user_gender          396
user_birthdate         1
user_residence    179905
ride_date              0
time_start             0
time_end           43285
station_start          0
station_end            0
ride_duration      73174
ride_late          73174
dtype: int64

In [24]:
# The % of null values

(df.isnull().sum()/df.shape[0])*100

user_gender        0.137824
user_birthdate     0.000348
user_residence    62.614419
ride_date          0.000000
time_start         0.000000
time_end          15.064979
station_start      0.000000
station_end        0.000000
ride_duration     25.467594
ride_late         25.467594
dtype: float64

In [31]:
# Getting rid of the null values (.dropna())

df_clean = df.dropna(subset=['user_residence'], axis=0)

print("Before cleaning \t{}".format(df.isnull().sum()))
print("After cleaning \t{}".format(df_clean.isnull().sum()))

print("Another before cleaning {}".format(df.shape))
print("Another after cleaning {}".format(df_clean.shape))

Before cleaning 	user_gender          396
user_birthdate         1
user_residence    179905
ride_date              0
time_start             0
time_end           43285
station_start          0
station_end            0
ride_duration      73174
ride_late          73174
dtype: int64
After cleaning 	user_gender         309
user_birthdate        1
user_residence        0
ride_date             0
time_start            0
time_end          16473
station_start         0
station_end           0
ride_duration     21423
ride_late         21423
dtype: int64
Another before cleaning (287322, 10)
Another after cleaning (107417, 10)

In [33]:
# Filling up the null values

df_clean.isnull().sum()

user_gender         309
user_birthdate        1
user_residence        0
ride_date             0
time_start            0
time_end          16473
station_start         0
station_end           0
ride_duration     21423
ride_late         21423
dtype: int64

In [38]:
# Filling up the null values (fillna())

rd_median = df_clean.ride_duration.median()

df_clean = df.fillna({"ride_duration" : rd_median})

df_clean.isnull().sum()

user_gender          396
user_birthdate         1
user_residence    179905
ride_date              0
time_start             0
time_end           43285
station_start          0
station_end            0
ride_duration          0
ride_late          73174
dtype: int64

In [39]:
# See the most commun values

df_clean.user_gender.value_counts()

M    212608
F     74318
Name: user_gender, dtype: int64

In [41]:
# Filling up the null values with "M"

df_clean = df_clean.fillna({"user_gender" : "M"})

df_clean.isnull().sum()

user_gender            0
user_birthdate         1
user_residence    179905
ride_date              0
time_start             0
time_end           43285
station_start          0
station_end            0
ride_duration          0
ride_late          73174
dtype: int64