<a href="https://colab.research.google.com/github/JoaoSiqueiraDS/DS_Days/blob/April_2021/SQLite_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import sqlite3

from test_class_method import Employee2

conn = sqlite3.connect(":memory:")

c = conn.cursor()

c.execute("""CREATE TABLE employees(
  first text,
  last text,
  pay integer)""")



def insert_emp(emp):
    with conn:
      c.execute("INSERT INTO employees VALUES(:first, :last, :pay)", 
         {'first': emp.first, "last":emp.last, "pay":emp.pay})


def get_emps_by_name(lastname):
    c.execute("SELECT * FROM employees WHERE last=:last", {"last":lastname})
    return c.fetchall()


def update_pay(emp, pay):
    with conn:
        c.execute("""UPDATE employees SET pay = :pay
                    WHERE first = :first AND last = :last""",
                  {'first': emp.first, 'last': emp.last, 'pay': pay})


def remove_emp(emp):
    with conn:
        c.execute("DELETE from employees WHERE first = :first AND last = :last",
                  {'first': emp.first, 'last': emp.last})

emp_1 = Employee2("John", "Doe", 9000)
emp_2 = Employee2("Jane", "Doe", 10000)


insert_emp(emp_1)
insert_emp(emp_2)

emps = get_emps_by_name("Doe")
print(emps)

conn.close()

[('John', 'Doe', 9000), ('Jane', 'Doe', 10000)]